# General
**/__pycache__/
**/intermediate_detection_files/

# AI
ai/training_data/
ai/training_data_preprocessed/
ai/runs
ai/resources/yolov8m.pt
ai/resources/yolov8l.pt
ai/resources/yolov8x.pt
ai/resources/andrewmvd_dataset.zip
ai/resources/aslanahmedov_dataset.zip
ai/resources/tdiblik_lp_finetuned_yolov8m.pt
ai/resources/tdiblik_lp_finetuned_yolov8l.pt
ai/resources/tdiblik_lp_finetuned_yolov8x.pt
ai/*.pt
ai/cropped_box_for_tesseract_*.jpg

# Server
server/*.pt
server/.env
db/data/
db/log/
db/secrets/
server/results/

# Client
client/target/
client/Cargo.lock