imutils==0.5.4
matplotlib==3.7.2
numpy==1.24.3
opencv_python==4.8.0.74
opencv_python_headless==4.8.0.74
Pillow==10.0.0
pytesseract==0.3.10
python-dotenv==1.0.0
scikit-image==0.21.0
ultralytics==8.0.147
websockets==11.0.3
pymssql==2.2.8